<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>sharerepo.go</title>
    </head>
    <body>
        <div class="content">
            <h1>sharerepo.go</h1>
            <form action="/">
                <input type="text" id="repo" name="repo" placeholder="https://example.com">
                <input type="submit" value="Create shareable link">
            </form>
        </div>
    </body>
</html>
